<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Add Employee", "EmpPage", "Home", new{ id = -1},null)</li>
                <li>@Html.ActionLink("Add Department", "Department", "Home")</li>
            </ul>
        </div>
    </div>
</div>
