@using EmpWebSystem.Models
@model EmpWebSystem.ViewModel.DatabaseViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

THIS IS INDEX VIEW!!!!
<h2>Employee List</h2>

<table>
    <tr>
        <th>Department</th>
        <th>Employee Name</th>
        <th>Salary  </th>
    </tr>

    @foreach (var employee in Model.Employees.DataBase)
    {
<tr>
    <td>@employee.Department</td>
    <td>@employee.Name</td>
    <td>@employee.Salary</td>
</tr>
    }
</table>

