@using EmpWebSystem.Models
@model EmpWebSystem.ViewModel.DatabaseViewModel
@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

THIS IS INDEX VIEW!!!!
<h2>Employee List</h2>

<table>
    <tr>
        <th>Department</th>
        <th>Employee Name</th>
        <th>Salary  </th>
    </tr>

    @foreach (var department in Model.DatabaseList.DataBase.Departments)
    {
        for(int i=0;i<department.Employees.Length;i++)
         {
        <tr>
            <td>@department.Name</td>
            <td>@department.Employees[i].Name</td>
            <td>@department.Employees[i].Salary</td>
        </tr>
         }
    }
</table>